/* CSS declarations go here */


@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);


body {
  background-color:#FFFEFA;
  margin: 0px;
}

.content {
  padding: 15px;
  position: absolute;
  top: 100px;
  max-width: 800px;
}

div.outfit.red {
  background: #BF716D;
}

div.red > .o_title, div.red > .ts_ago {
    color: #FCFCFC !important;
}

.o_title {
  color: #000;
  font-size: 48px;
  font-family: 'Abril Fatface', Georgia;  
  letter-spacing: 1px;
  text-transform: capitalize;
  display: inline;
  height: 150px;
  padding-left: 10px;
  line-height: 60px;
}

.outfit {
background-color: #ffffff;  
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.o_photo {
  max-width: 400px;
  max-height: 400px;
  float: right;
  padding-right: 15px;
}

.outfit.selected {
  background-color: #EEEEEE;
  height: 500px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0px;
  color: #fff;
  background-color: #232B2B;
}

.header_title {

  font-size: 60px;
  font-family: 'Abril Fatface', Georgia;  
  letter-spacing: 1px;
  display: inline;
  padding-left: 25px;
}

.header_search {
  display: inline;
  position: absolute;
  left: 40%;
  top: 25px;
}

form.header_search_form {
  display: inline;
}

.delete {
  display: inline;
}

.ts_ago {
  color: #aaa;
  display: inline;
}

.o_userPhoto {
  color: #888;
  font-size: 18px;
  font-family: 'Georgia', cursive;  
  letter-spacing: 1px;
  text-transform: capitalize;
  display: inline;

}

.myOutfits {
  border: 1px solid #232B2B;
  padding: 5px;
  display: inline-block;
  width: 500px;
}



.myGarments {
  float: right;
  border: 1px solid #232B2B;
  padding: 5px;
  width: 250px;

}